:root{
  --small-screen-em-small: 0.7em;
  --small-screen-em-normal: 1.1em;
}

body {
  margin: 0;
  padding: 0 2.5vw;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 1vh 0;
}

li {
  min-height: 15vh;
}

.news-item {
  border-bottom: 1px dotted grey;

  display: flex;
  align-items: center;
}

.margin-lines{
  margin: 0.75vh 0;
}

.news-item-title{
  font-weight: bold;
  font-size: var(--small-screen-em-normal);
  line-height: 1;
  overflow: hidden;
}
/*This ensures that only two lines will be displayed*/
.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;  
}
.line-clamp-1 {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;  
}

.news-item-source{
  font-size: var(--small-screen-em-small);
  text-transform: uppercase;
  color: rgb(170, 170, 170);
}

.horizontal{
  display: flex;
  flex-direction: row;
  overflow: hidden;
  flex-wrap: wrap;

}

.align-items-center{
  align-items: center;
}



.vw-40{
  min-width: 40vw;
  max-width: 90vw;
  overflow: hidden;

}

.max-vw-tags{
  max-width: 75vw;
}

.news-item-tag{
  font-size: var(--small-screen-em-small);
  color:rgb(170, 170, 170);
  margin-right: 2vw;
}

.tags{
  font-size: var(--small-screen-em-small);
  color: rgb(0, 0, 100);
}




footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 10vh;
  background-color: whitesmoke;
  color: rgb(0, 0, 30);
  text-align: center;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer-icon {
  font-size: 1.5em;
  margin-bottom: 2vh;
}